@font-face {
  font-family: 'runt-icon';
  src: url('iconFont.eot');
  src: url('iconFont.eot?#iefix') format('embedded-opentype'),
       url('iconFont.woff') format('woff'),
       url('iconFont.ttf') format('truetype'),
       url('iconFont.svg#iconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}