:host {
  display: inline;
}

:host i {
  font-family: 'runt-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1;
  display: inline-block;
  vertical-align: -8%;
  -webkit-font-smoothing: antialiased;
  font-size: inherit;
}

:host([small]) i {
  font-size: .7em;
  vertical-align: 6%;
}

:host([large]) i {
  font-size: 1.2em;
  vertical-align: -10%;
}

:host([type="newspaper"]) i:before { content: "\e001"; }
:host([type="pencil"]) i:before { content: "\e002"; }
:host([type="droplet"]) i:before { content: "\e003"; }
:host([type="pictures"]) i:before { content: "\e004"; }
:host([type="camera"]) i:before { content: "\e005"; }
:host([type="music"]) i:before { content: "\e006"; }
:host([type="film"]) i:before { content: "\e007"; }
:host([type="camera-2"]) i:before { content: "\e008"; }
:host([type="spades"]) i:before { content: "\e009"; }
:host([type="clubs"]) i:before { content: "\e00a"; }
:host([type="diamonds"]) i:before { content: "\e00b"; }
:host([type="broadcast"]) i:before { content: "\e00c"; }
:host([type="mic"]) i:before { content: "\e00d"; }
:host([type="book"]) i:before { content: "\e00e"; }
:host([type="file"]) i:before { content: "\e00f"; }
:host([type="new"]) i:before { content: "\e010"; }
:host([type="copy"]) i:before { content: "\e011"; }
:host([type="folder"]) i:before { content: "\e012"; }
:host([type="folder-2"]) i:before { content: "\e013"; }
:host([type="tag"]) i:before { content: "\e014"; }
:host([type="cart"]) i:before { content: "\e015"; }
:host([type="basket"]) i:before { content: "\e016"; }
:host([type="calculate"]) i:before { content: "\e017"; }
:host([type="support"]) i:before { content: "\e018"; }
:host([type="phone"]) i:before { content: "\e019"; }
:host([type="mail"]) i:before { content: "\e01a"; }
:host([type="location"]) i:before { content: "\e01b"; }
:host([type="compass"]) i:before { content: "\e01c"; }
:host([type="history"]) i:before { content: "\e01d"; }
:host([type="clock"]) i:before { content: "\e01e"; }
:host([type="bell"]) i:before { content: "\e01f"; }
:host([type="calendar"]) i:before { content: "\e020"; }
:host([type="printer"]) i:before { content: "\e021"; }
:host([type="mouse"]) i:before { content: "\e022"; }
:host([type="screen"]) i:before { content: "\e023"; }
:host([type="laptop"]) i:before { content: "\e024"; }
:host([type="mobile"]) i:before { content: "\e025"; }
:host([type="cabinet"]) i:before { content: "\e026"; }
:host([type="drawer"]) i:before { content: "\e027"; }
:host([type="drawer-2"]) i:before { content: "\e028"; }
:host([type="box"]) i:before { content: "\e029"; }
:host([type="box-add"]) i:before { content: "\e02a"; }
:host([type="box-remove"]) i:before { content: "\e02b"; }
:host([type="download"]) i:before { content: "\e02c"; }
:host([type="upload"]) i:before { content: "\e02d"; }
:host([type="database"]) i:before { content: "\e02e"; }
:host([type="flip"]) i:before { content: "\e02f"; }
:host([type="flip-2"]) i:before { content: "\e030"; }
:host([type="undo"]) i:before { content: "\e031"; }
:host([type="redo"]) i:before { content: "\e032"; }
:host([type="forward"]) i:before { content: "\e033"; }
:host([type="reply"]) i:before { content: "\e034"; }
:host([type="reply-2"]) i:before { content: "\e035"; }
:host([type="comments"]) i:before { content: "\e036"; }
:host([type="comments-2"]) i:before { content: "\e037"; }
:host([type="comments-3"]) i:before { content: "\e038"; }
:host([type="comments-4"]) i:before { content: "\e039"; }
:host([type="comments-5"]) i:before { content: "\e03a"; }
:host([type="user"]) i:before { content: "\e03b"; }
:host([type="user-2"]) i:before { content: "\e03c"; }
:host([type="user-3"]) i:before { content: "\e03d"; }
:host([type="busy"]) i:before { content: "\e03e"; }
:host([type="loading"]) i:before { content: "\e03f"; }
:host([type="loading-2"]) i:before { content: "\e040"; }
:host([type="search"]) i:before { content: "\e041"; }
:host([type="zoom-in"]) i:before { content: "\e042"; }
:host([type="zoom-out"]) i:before { content: "\e043"; }
:host([type="key"]) i:before { content: "\e044"; }
:host([type="key-2"]) i:before { content: "\e045"; }
:host([type="locked"]) i:before { content: "\e046"; }
:host([type="unlocked"]) i:before { content: "\e047"; }
:host([type="wrench"]) i:before { content: "\e048"; }
:host([type="equalizer"]) i:before { content: "\e049"; }
:host([type="cog"]) i:before { content: "\e04a"; }
:host([type="pie"]) i:before { content: "\e04b"; }
:host([type="bars"]) i:before { content: "\e04c"; }
:host([type="stats-up"]) i:before { content: "\e04d"; }
:host([type="gift"]) i:before { content: "\e04e"; }
:host([type="trophy"]) i:before { content: "\e04f"; }
:host([type="diamond"]) i:before { content: "\e050"; }
:host([type="coffee"]) i:before { content: "\e051"; }
:host([type="rocket"]) i:before { content: "\e052"; }
:host([type="meter-slow"]) i:before { content: "\e053"; }
:host([type="meter-medium"]) i:before { content: "\e054"; }
:host([type="meter-fast"]) i:before { content: "\e055"; }
:host([type="dashboard"]) i:before { content: "\e056"; }
:host([type="fire"]) i:before { content: "\e057"; }
:host([type="lab"]) i:before { content: "\e058"; }
:host([type="remove"]) i:before { content: "\e059"; }
:host([type="briefcase"]) i:before { content: "\e05a"; }
:host([type="briefcase-2"]) i:before { content: "\e05b"; }
:host([type="cars"]) i:before { content: "\e05c"; }
:host([type="bus"]) i:before { content: "\e05d"; }
:host([type="cube"]) i:before { content: "\e05e"; }
:host([type="cube-2"]) i:before { content: "\e05f"; }
:host([type="puzzle"]) i:before { content: "\e060"; }
:host([type="glasses"]) i:before { content: "\e061"; }
:host([type="glasses-2"]) i:before { content: "\e062"; }
:host([type="accessibility"]) i:before { content: "\e063"; }
:host([type="accessibility-2"]) i:before { content: "\e064"; }
:host([type="target"]) i:before { content: "\e065"; }
:host([type="target-2"]) i:before { content: "\e066"; }
:host([type="lightning"]) i:before { content: "\e067"; }
:host([type="power"]) i:before { content: "\e068"; }
:host([type="power-2"]) i:before { content: "\e069"; }
:host([type="clipboard"]) i:before { content: "\e06a"; }
:host([type="clipboard-2"]) i:before { content: "\e06b"; }
:host([type="playlist"]) i:before { content: "\e06c"; }
:host([type="grid-view"]) i:before { content: "\e06d"; }
:host([type="tree-view"]) i:before { content: "\e06e"; }
:host([type="cloud"]) i:before { content: "\e06f"; }
:host([type="cloud-2"]) i:before { content: "\e070"; }
:host([type="download-2"]) i:before { content: "\e071"; }
:host([type="upload-2"]) i:before { content: "\e072"; }
:host([type="upload-3"]) i:before { content: "\e073"; }
:host([type="link"]) i:before { content: "\e074"; }
:host([type="link-2"]) i:before { content: "\e075"; }
:host([type="flag"]) i:before { content: "\e076"; }
:host([type="flag-2"]) i:before { content: "\e077"; }
:host([type="attachment"]) i:before { content: "\e078"; }
:host([type="eye"]) i:before { content: "\e079"; }
:host([type="bookmark"]) i:before { content: "\e07a"; }
:host([type="bookmark-2"]) i:before { content: "\e07b"; }
:host([type="star"]) i:before { content: "\e07c"; }
:host([type="star-2"]) i:before { content: "\e07d"; }
:host([type="star-3"]) i:before { content: "\e07e"; }
:host([type="heart"]) i:before { content: "\e07f"; }
:host([type="heart-2"]) i:before { content: "\e080"; }
:host([type="thumbs-up"]) i:before { content: "\e081"; }
:host([type="thumbs-down"]) i:before { content: "\e082"; }
:host([type="plus"]) i:before { content: "\e083"; }
:host([type="minus"]) i:before { content: "\e084"; }
:host([type="help"]) i:before { content: "\e085"; }
:host([type="help-2"]) i:before { content: "\e086"; }
:host([type="blocked"]) i:before { content: "\e087"; }
:host([type="cancel"]) i:before { content: "\e088"; }
:host([type="cancel-2"]) i:before { content: "\e089"; }
:host([type="checkmark"]) i:before { content: "\e08a"; }
:host([type="minus-2"]) i:before { content: "\e08b"; }
:host([type="plus-2"]) i:before { content: "\e08c"; }
:host([type="enter"]) i:before { content: "\e08d"; }
:host([type="exit"]) i:before { content: "\e08e"; }
:host([type="loop"]) i:before { content: "\e08f"; }
:host([type="arrow-up-left"]) i:before { content: "\e090"; }
:host([type="arrow-up"]) i:before { content: "\e091"; }
:host([type="arrow-up-right"]) i:before { content: "\e092"; }
:host([type="arrow-right"]) i:before { content: "\e093"; }
:host([type="arrow-down-right"]) i:before { content: "\e094"; }
:host([type="arrow-down"]) i:before { content: "\e095"; }
:host([type="arrow-down-left"]) i:before { content: "\e096"; }
:host([type="arrow-left"]) i:before { content: "\e097"; }
:host([type="arrow-up-2"]) i:before { content: "\e098"; }
:host([type="arrow-right-2"]) i:before { content: "\e099"; }
:host([type="arrow-down-2"]) i:before { content: "\e09a"; }
:host([type="arrow-left-2"]) i:before { content: "\e09b"; }
:host([type="arrow-up-3"]) i:before { content: "\e09c"; }
:host([type="arrow-right-3"]) i:before { content: "\e09d"; }
:host([type="arrow-down-3"]) i:before { content: "\e09e"; }
:host([type="arrow-left-3"]) i:before { content: "\e09f"; }
:host([type="menu"]) i:before { content: "\e0a0"; }
:host([type="enter-2"]) i:before { content: "\e0a1"; }
:host([type="backspace"]) i:before { content: "\e0a2"; }
:host([type="backspace-2"]) i:before { content: "\e0a3"; }
:host([type="tab"]) i:before { content: "\e0a4"; }
:host([type="tab-2"]) i:before { content: "\e0a5"; }
:host([type="checkbox"]) i:before { content: "\e0a6"; }
:host([type="checkbox-unchecked"]) i:before { content: "\e0a7"; }
:host([type="checkbox-partial"]) i:before { content: "\e0a8"; }
:host([type="radio-checked"]) i:before { content: "\e0a9"; }
:host([type="radio-unchecked"]) i:before { content: "\e0aa"; }
:host([type="font"]) i:before { content: "\e0ab"; }
:host([type="paragraph-left"]) i:before { content: "\e0ac"; }
:host([type="paragraph-center"]) i:before { content: "\e0ad"; }
:host([type="paragraph-right"]) i:before { content: "\e0ae"; }
:host([type="paragraph-justify"]) i:before { content: "\e0af"; }
:host([type="left-to-right"]) i:before { content: "\e0b0"; }
:host([type="right-to-left"]) i:before { content: "\e0b1"; }
:host([type="share"]) i:before { content: "\e0b2"; }
:host([type="new-tab"]) i:before { content: "\e0b3"; }
:host([type="new-tab-2"]) i:before { content: "\e0b4"; }
:host([type="embed"]) i:before { content: "\e0b5"; }
:host([type="code"]) i:before { content: "\e0b6"; }
:host([type="bluetooth"]) i:before { content: "\e0b7"; }
:host([type="share-2"]) i:before { content: "\e0b8"; }
:host([type="share-3"]) i:before { content: "\e0b9"; }
:host([type="mail-2"]) i:before { content: "\e0ba"; }
:host([type="google"]) i:before { content: "\e0bb"; }
:host([type="google-plus"]) i:before { content: "\e0bc"; }
:host([type="google-drive"]) i:before { content: "\e0bd"; }
:host([type="facebook"]) i:before { content: "\e0be"; }
:host([type="instagram"]) i:before { content: "\e0bf"; }
:host([type="twitter"]) i:before { content: "\e0c0"; }
:host([type="feed"]) i:before { content: "\e0c1"; }
:host([type="youtube"]) i:before { content: "\e0c2"; }
:host([type="vimeo"]) i:before { content: "\e0c3"; }
:host([type="flickr"]) i:before { content: "\e0c4"; }
:host([type="picassa"]) i:before { content: "\e0c5"; }
:host([type="dribbble"]) i:before { content: "\e0c6"; }
:host([type="deviantart"]) i:before { content: "\e0c7"; }
:host([type="github"]) i:before { content: "\e0c8"; }
:host([type="github-2"]) i:before { content: "\e0c9"; }
:host([type="github-3"]) i:before { content: "\e0ca"; }
:host([type="github-4"]) i:before { content: "\e0cb"; }
:host([type="github-5"]) i:before { content: "\e0cc"; }
:host([type="git"]) i:before { content: "\e0cd"; }
:host([type="github-6"]) i:before { content: "\e0ce"; }
:host([type="wordpress"]) i:before { content: "\e0cf"; }
:host([type="joomla"]) i:before { content: "\e0d0"; }
:host([type="blogger"]) i:before { content: "\e0d1"; }
:host([type="tumblr"]) i:before { content: "\e0d2"; }
:host([type="yahoo"]) i:before { content: "\e0d3"; }
:host([type="amazon"]) i:before { content: "\e0d4"; }
:host([type="tux"]) i:before { content: "\e0d5"; }
:host([type="apple"]) i:before { content: "\e0d6"; }
:host([type="finder"]) i:before { content: "\e0d7"; }
:host([type="android"]) i:before { content: "\e0d8"; }
:host([type="windows"]) i:before { content: "\e0d9"; }
:host([type="soundcloud"]) i:before { content: "\e0da"; }
:host([type="skype"]) i:before { content: "\e0db"; }
:host([type="reddit"]) i:before { content: "\e0dc"; }
:host([type="linkedin"]) i:before { content: "\e0dd"; }
:host([type="lastfm"]) i:before { content: "\e0de"; }
:host([type="delicious"]) i:before { content: "\e0df"; }
:host([type="stumbleupon"]) i:before { content: "\e0e0"; }
:host([type="pinterest"]) i:before { content: "\e0e1"; }
:host([type="xing"]) i:before { content: "\e0e2"; }
:host([type="flattr"]) i:before { content: "\e0e3"; }
:host([type="foursquare"]) i:before { content: "\e0e4"; }
:host([type="paypal"]) i:before { content: "\e0e5"; }
:host([type="yelp"]) i:before { content: "\e0e6"; }
:host([type="libreoffice"]) i:before { content: "\e0e7"; }
:host([type="file-pdf"]) i:before { content: "\e0e8"; }
:host([type="file-openoffice"]) i:before { content: "\e0e9"; }
:host([type="file-word"]) i:before { content: "\e0ea"; }
:host([type="file-excel"]) i:before { content: "\e0eb"; }
:host([type="file-powerpoint"]) i:before { content: "\e0ec"; }
:host([type="file-zip"]) i:before { content: "\e0ed"; }
:host([type="file-xml"]) i:before { content: "\e0ee"; }
:host([type="file-css"]) i:before { content: "\e0ef"; }
:host([type="html5"]) i:before { content: "\e0f0"; }
:host([type="html5-2"]) i:before { content: "\e0f1"; }
:host([type="css3"]) i:before { content: "\e0f2"; }
:host([type="chrome"]) i:before { content: "\e0f3"; }
:host([type="firefox"]) i:before { content: "\e0f4"; }
:host([type="IE"]) i:before { content: "\e0f5"; }
:host([type="opera"]) i:before { content: "\e0f6"; }
:host([type="safari"]) i:before { content: "\e0f7"; }
:host([type="IcoMoon"]) i:before { content: "\e0f8"; }
:host([type="sunrise"]) i:before { content: "\e0f9"; }
:host([type="sun"]) i:before { content: "\e0fa"; }
:host([type="moon"]) i:before { content: "\e0fb"; }
:host([type="sun-2"]) i:before { content: "\e0fc"; }
:host([type="windy"]) i:before { content: "\e0fd"; }
:host([type="wind"]) i:before { content: "\e0fe"; }
:host([type="snowflake"]) i:before { content: "\e0ff"; }
:host([type="cloudy"]) i:before { content: "\e100"; }
:host([type="cloud-3"]) i:before { content: "\e101"; }
:host([type="weather"]) i:before { content: "\e102"; }
:host([type="weather-2"]) i:before { content: "\e103"; }
:host([type="weather-3"]) i:before { content: "\e104"; }
:host([type="lines"]) i:before { content: "\e105"; }
:host([type="cloud-4"]) i:before { content: "\e106"; }
:host([type="lightning-2"]) i:before { content: "\e107"; }
:host([type="lightning-3"]) i:before { content: "\e108"; }
:host([type="rainy"]) i:before { content: "\e109"; }
:host([type="rainy-2"]) i:before { content: "\e10a"; }
:host([type="windy-2"]) i:before { content: "\e10b"; }
:host([type="windy-3"]) i:before { content: "\e10c"; }
:host([type="snowy"]) i:before { content: "\e10d"; }
:host([type="snowy-2"]) i:before { content: "\e10e"; }
:host([type="snowy-3"]) i:before { content: "\e10f"; }
:host([type="weather-4"]) i:before { content: "\e110"; }
:host([type="cloudy-2"]) i:before { content: "\e111"; }
:host([type="cloud-5"]) i:before { content: "\e112"; }
:host([type="lightning-4"]) i:before { content: "\e113"; }
:host([type="sun-3"]) i:before { content: "\e114"; }
:host([type="moon-2"]) i:before { content: "\e115"; }
:host([type="cloudy-3"]) i:before { content: "\e116"; }
:host([type="cloud-6"]) i:before { content: "\e117"; }
:host([type="cloud-7"]) i:before { content: "\e118"; }
:host([type="lightning-5"]) i:before { content: "\e119"; }
:host([type="rainy-3"]) i:before { content: "\e11a"; }
:host([type="rainy-4"]) i:before { content: "\e11b"; }
:host([type="windy-4"]) i:before { content: "\e11c"; }
:host([type="windy-5"]) i:before { content: "\e11d"; }
:host([type="snowy-4"]) i:before { content: "\e11e"; }
:host([type="snowy-5"]) i:before { content: "\e11f"; }
:host([type="weather-5"]) i:before { content: "\e120"; }
:host([type="cloudy-4"]) i:before { content: "\e121"; }
:host([type="lightning-6"]) i:before { content: "\e122"; }
:host([type="thermometer"]) i:before { content: "\e123"; }
:host([type="compass-2"]) i:before { content: "\e124"; }
:host([type="none"]) i:before { content: "\e125"; }
:host([type="Celsius"]) i:before { content: "\e126"; }
:host([type="Fahrenheit"]) i:before { content: "\e127"; }
:host([type="forrst"]) i:before { content: "\e128"; }
:host([type="headphones"]) i:before { content: "\e129"; }
:host([type="bug"]) i:before { content: "\e12a"; }
:host([type="cart-2"]) i:before { content: "\e12b"; }
:host([type="earth"]) i:before { content: "\e12c"; }
:host([type="battery"]) i:before { content: "\e12d"; }
:host([type="list"]) i:before { content: "\e12e"; }
:host([type="grid"]) i:before { content: "\e12f"; }
:host([type="alarm"]) i:before { content: "\e130"; }
:host([type="location-2"]) i:before { content: "\e131"; }
:host([type="pointer"]) i:before { content: "\e132"; }
:host([type="diary"]) i:before { content: "\e133"; }
:host([type="eye-2"]) i:before { content: "\e134"; }
:host([type="console"]) i:before { content: "\e135"; }
:host([type="location-3"]) i:before { content: "\e136"; }
:host([type="move"]) i:before { content: "\e137"; }
:host([type="gift-2"]) i:before { content: "\e138"; }
:host([type="monitor"]) i:before { content: "\e139"; }
:host([type="mobile-2"]) i:before { content: "\e13a"; }
:host([type="switch"]) i:before { content: "\e13b"; }
:host([type="star-4"]) i:before { content: "\e13c"; }
:host([type="address-book"]) i:before { content: "\e13d"; }
:host([type="shit"]) i:before { content: "\e13e"; }
:host([type="cone"]) i:before { content: "\e13f"; }
:host([type="credit-card"]) i:before { content: "\e140"; }
:host([type="type"]) i:before { content: "\e141"; }
:host([type="volume"]) i:before { content: "\e142"; }
:host([type="volume-2"]) i:before { content: "\e143"; }
:host([type="locked-2"]) i:before { content: "\e144"; }
:host([type="warning"]) i:before { content: "\e145"; }
:host([type="info"]) i:before { content: "\e146"; }
:host([type="filter"]) i:before { content: "\e147"; }
:host([type="bookmark-3"]) i:before { content: "\e148"; }
:host([type="bookmark-4"]) i:before { content: "\e149"; }
:host([type="stats"]) i:before { content: "\e14a"; }
:host([type="compass-3"]) i:before { content: "\e14b"; }
:host([type="keyboard"]) i:before { content: "\e14c"; }
:host([type="award-fill"]) i:before { content: "\e14d"; }
:host([type="award-stroke"]) i:before { content: "\e14e"; }
:host([type="beaker-alt"]) i:before { content: "\e14f"; }
:host([type="beaker"]) i:before { content: "\e150"; }
:host([type="move-vertical"]) i:before { content: "\e151"; }
:host([type="move-horizontal"]) i:before { content: "\e152"; }
:host([type="steering-wheel"]) i:before { content: "\e153"; }
:host([type="volume-3"]) i:before { content: "\e154"; }
:host([type="volume-mute"]) i:before { content: "\e155"; }
:host([type="play"]) i:before { content: "\e156"; }
:host([type="pause"]) i:before { content: "\e157"; }
:host([type="stop"]) i:before { content: "\e158"; }
:host([type="eject"]) i:before { content: "\e159"; }
:host([type="first"]) i:before { content: "\e15a"; }
:host([type="last"]) i:before { content: "\e15b"; }
:host([type="play-alt"]) i:before { content: "\e15c"; }
:host([type="battery-charging"]) i:before { content: "\e160"; }
:host([type="left-quote"]) i:before { content: "\e161"; }
:host([type="right-quote"]) i:before { content: "\e162"; }
:host([type="left-quote-alt"]) i:before { content: "\e163"; }
:host([type="right-quote-alt"]) i:before { content: "\e164"; }
:host([type="smiley"]) i:before { content: "\e165"; }
:host([type="umbrella"]) i:before { content: "\e166"; }
:host([type="info-2"]) i:before { content: "\e167"; }
:host([type="chart-alt"]) i:before { content: "\e168"; }
:host([type="at"]) i:before { content: "\e169"; }
:host([type="hash"]) i:before { content: "\e16a"; }
:host([type="pilcrow"]) i:before { content: "\e16b"; }
:host([type="fullscreen-alt"]) i:before { content: "\e16c"; }
:host([type="fullscreen-exit-alt"]) i:before { content: "\e16d"; }
:host([type="layers-alt"]) i:before { content: "\e16e"; }
:host([type="layers"]) i:before { content: "\e16f"; }
:host([type="floppy"]) i:before { content: "\e170"; }
:host([type="rainbow"]) i:before { content: "\e000"; }
:host([type="air"]) i:before { content: "\e171"; }
:host([type="home"]) i:before { content: "\e172"; }
:host([type="spin"]) i:before { content: "\e173"; }
:host([type="auction"]) i:before { content: "\e174"; }
:host([type="dollar"]) i:before { content: "\e175"; }
:host([type="dollar-2"]) i:before { content: "\e176"; }
:host([type="coins"]) i:before { content: "\e177"; }
:host([type="file-2"]) i:before { content: "\e186"; }
:host([type="file-3"]) i:before { content: "\e187"; }
:host([type="file-4"]) i:before { content: "\e188"; }
:host([type="files"]) i:before { content: "\e189"; }
:host([type="phone-2"]) i:before { content: "\e18a"; }
:host([type="tablet"]) i:before { content: "\e18b"; }
:host([type="monitor-2"]) i:before { content: "\e18c"; }
:host([type="window"]) i:before { content: "\e18d"; }
:host([type="tv"]) i:before { content: "\e18e"; }
:host([type="camera-3"]) i:before { content: "\e18f"; }
:host([type="image"]) i:before { content: "\e190"; }
:host([type="open"]) i:before { content: "\e191"; }
:host([type="sale"]) i:before { content: "\e192"; }
:host([type="direction"]) i:before { content: "\e193"; }
:host([type="medal"]) i:before { content: "\e194"; }
:host([type="medal-2"]) i:before { content: "\e195"; }
:host([type="satellite"]) i:before { content: "\e196"; }
:host([type="discout"]) i:before { content: "\e197"; }
:host([type="barcode"]) i:before { content: "\e198"; }
:host([type="ticket"]) i:before { content: "\e199"; }
:host([type="shipping"]) i:before { content: "\e19a"; }
:host([type="globe"]) i:before { content: "\e19b"; }
:host([type="anchor"]) i:before { content: "\e19c"; }
:host([type="pop-out"]) i:before { content: "\e19d"; }
:host([type="pop-in"]) i:before { content: "\e19e"; }
:host([type="resize"]) i:before { content: "\e178"; }
:host([type="battery-2"]) i:before { content: "\e179"; }
:host([type="battery-3"]) i:before { content: "\e17a"; }
:host([type="battery-4"]) i:before { content: "\e17b"; }
:host([type="battery-5"]) i:before { content: "\e17c"; }
:host([type="tools"]) i:before { content: "\e17d"; }
:host([type="alarm-2"]) i:before { content: "\e17e"; }
:host([type="alarm-cancel"]) i:before { content: "\e17f"; }
:host([type="alarm-clock"]) i:before { content: "\e180"; }
:host([type="chronometer"]) i:before { content: "\e181"; }
:host([type="ruler"]) i:before { content: "\e182"; }
:host([type="lamp"]) i:before { content: "\e183"; }
:host([type="lamp-2"]) i:before { content: "\e184"; }
:host([type="scissors"]) i:before { content: "\e185"; }
:host([type="volume-4"]) i:before { content: "\e19f"; }
:host([type="volume-5"]) i:before { content: "\e1a0"; }
:host([type="volume-6"]) i:before { content: "\e1a1"; }
:host([type="battery-full"]) i:before { content: "\e15f"; }
:host([type="battery-empty"]) i:before { content: "\e15d"; }
:host([type="battery-half"]) i:before { content: "\e15e"; }
:host([type="zip"]) i:before { content: "\e1a2"; }
:host([type="zip-2"]) i:before { content: "\e1a3"; }
:host([type="play-2"]) i:before { content: "\e1a4"; }
:host([type="pause-2"]) i:before { content: "\e1a5"; }
:host([type="record"]) i:before { content: "\e1a6"; }
:host([type="stop-2"]) i:before { content: "\e1a7"; }
:host([type="next"]) i:before { content: "\e1a8"; }
:host([type="previous"]) i:before { content: "\e1a9"; }
:host([type="first-2"]) i:before { content: "\e1aa"; }
:host([type="last-2"]) i:before { content: "\e1ab"; }
:host([type="arrow-left-4"]) i:before { content: "\e1ac"; }
:host([type="arrow-down-4"]) i:before { content: "\e1ad"; }
:host([type="arrow-up-4"]) i:before { content: "\e1ae"; }
:host([type="arrow-right-4"]) i:before { content: "\e1af"; }
:host([type="arrow-left-5"]) i:before { content: "\e1b0"; }
:host([type="arrow-down-5"]) i:before { content: "\e1b1"; }
:host([type="arrow-up-5"]) i:before { content: "\e1b2"; }
:host([type="arrow-right-5"]) i:before { content: "\e1b3"; }
:host([type="cc"]) i:before { content: "\e1b4"; }
:host([type="cc-by"]) i:before { content: "\e1b5"; }
:host([type="cc-nc"]) i:before { content: "\e1b6"; }
:host([type="cc-nc-eu"]) i:before { content: "\e1b7"; }
:host([type="cc-nc-jp"]) i:before { content: "\e1b8"; }
:host([type="cc-sa"]) i:before { content: "\e1b9"; }
:host([type="cc-nd"]) i:before { content: "\e1ba"; }
:host([type="cc-pd"]) i:before { content: "\e1bb"; }
:host([type="cc-zero"]) i:before { content: "\e1bc"; }
:host([type="cc-share"]) i:before { content: "\e1bd"; }
:host([type="cc-share-2"]) i:before { content: "\e1be"; }
:host([type="cycle"]) i:before { content: "\e1bf"; }
:host([type="stop-3"]) i:before { content: "\e1c0"; }
:host([type="stats-2"]) i:before { content: "\e1c1"; }
:host([type="stats-3"]) i:before { content: "\e1c2"; }